<!DOCTYPE html>
<html lang="en">
  <title>Data Collector App</title>
  <head>
    <link href="../static/main.css" rel="stylesheet">
    <meta name="google-signin-client_id" content="10392417901-od5qoksa2erdr22fcrjlm0ok5md844pi.apps.googleusercontent.com">
  </head>
  <body>
    <div class="container">
      <h1>Collecting height</h1>
      <h3>Please fill the entries to get population statistics on height</h3>
      <div class="message">
        {{text | safe}}
      </div>
      <form action="{{url_for('success')}}" method="POST">
        <input id="my_email" title="Your email will be safe" placeholder="Enter your email address" type="email" name="email_name" required> <br>
        <input title="Your data will be safe" placeholder="Enter your height in cm" type="number" min="50", max="300" step="0.01" name="height_name" required> <br>
        <button type="submit">Submit</button>
      </form>
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
      <a href="#" onclick="signOut();">Sign out</a>
    </div>
  </body>
</html>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
  function onSignIn(googleUser) {
    document.getElementById('my_email').value=googleUser.getBasicProfile().getEmail();
    console.log(googleUser.getBasicProfile().getName());
    var profile = googleUser.getBasicProfile();
    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    console.log('Name: ' + profile.getName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
  }
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }



</script>
